
<div class="container-fluid">
  <h1 class="row">Login</h1>
  <main>
      <div class="row">
          <label for="username">Username</label>
          <input type="text" name="username" id="username">
      </div>

      <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
      </div>

      <div class="routes">
          <button onclick="login()">Login </button>
      </div>
  </main>

</div>

<div class="container-fluid">
  <h1 class="row">Sign up</h1>
  <main>
      <div class="row">
          <label for="fullname">Full name</label>
          <input type="text" name="fullname" id="fullname">
      </div>
      <div class="row">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </div>
      <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
      </div>
      <div>
        <label for="confirmpassword">Confirm Password</label>
        <input type="confirmpassword" name="confirmpassword" id="confirmpassword">
      </div>
      <div class="routes">
          <button onclick="signup()">Sign up</button>
      </div>
  </main>

</div>
